:root {
    --main-transition: 0.3s;
}

.mainHeading {
    margin: 0 auto 80px;
    width: fit-content;
    padding: 10px 20px;
    border: 2px solid black;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    z-index: 100;
}

.mainHeading:hover {
    color: white;
    border:2px solid white;
    transition: all 0.3s 0.5s;
}

.mainHeading::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main-color);
    top: 50%;
    transform: translateY(-50%);
    left: -30px;

}

.mainHeading:hover::before {
    animation: move-left 0.5s linear forwards;
}

@keyframes move-left {
    50% {
        width: 12px;
        height: 12px;
        left: 0;
    }

    100% {
        left: 0;
        border-radius: 0;
        height: 100%;
        width: 55%;
        z-index: -1;
    }
}

.mainHeading::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main-color);
    top: 50%;
    transform: translateY(-50%);
    right: -30px;
}

.mainHeading:hover::after {
    animation: move-right 0.5s linear forwards;
}

@keyframes move-right {
    50% {
        width: 12px;
        height: 12px;
        right: 0;
    }

    100% {
        right: 0;
        border-radius: 0;
        height: 100%;
        width: 50%;
        z-index: -1;
    }
}